img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.table {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    outline: 1px solid var(--onyx);
    text-align: center;
}

.table > .profile {
    border-right: 1px solid var(--onyx);
    padding: 10px;
}

.table > .col {
    border-right: 1px solid var(--onyx);
    padding: 100px 10px;
}

.col > h4 {
    font-size: 25px;
}

.col > p {
    margin-top: 10px;
    color: var(--purple);
    font-weight: bold;
    font-size: 20px;
}