.filters {
    display: flex;
    align-items: center;
    margin-top: 25px;
    outline: 1px solid var(--onyx);
    padding: 20px 0px;
}

h2, .filters > form {
    margin-left: 10px;
}

input {
    background: var(--white);
    padding: 10px;
    border: 1px solid var(--onyx);
    width: 300px;
    margin-left: 20px;
}

h2, .fields > form, input {
    display: inline-block;
}

.right {
    margin-left: auto;
    margin-right: 20px;
}

.right > button, .filters > button {
    border: none;
    padding: 10px;
    border-radius: 100px;
    transition: all 0.25s linear;
    font-size: 15px;
}

.right > button:hover, .filters > button:hover {
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.25s linear;
    cursor: pointer;
}

.table {
    text-align: center;
    border-bottom: 1px solid var(--onyx);
}

.header {
    display: grid;
    grid-template-columns: 40% repeat(4, 1fr);
}

.header > div {
    padding: 20px 0px;
    border-right: 1px solid var(--onyx);
    font-weight: 600;
}

.row {
    display: grid;
    grid-template-columns: 40% repeat(4, 1fr);
    text-align: center;
    text-decoration: none;
    color: var(--onyx);
}

.row > p {
    border-right: 1px solid var(--onyx);
    border-bottom: 1px solid var(--onyx);
    padding: 10px;
}

.row:hover {
    background-color: var(--light_purple);
    cursor: pointer;
}